<template>
  <div id="q-app">
    <q-layout>
      <q-layout-header>
        <q-toolbar-title
          align="center"
          style=" margin-top: 2%; 
                    display: flex; 
                    align-items: center; 
                    justify-content: center;"
        >
          <span class="q-headline text-weight-light" style="margin-right: 1%">Sprint Retrospective</span>
          <img
            src="https://i.ibb.co/GvS9fcq/logo.jpg"
            alt="logo"
            width="5%"
            height="5%"
            align="logo"
          >
          <br>
        </q-toolbar-title>
        <br>
        <q-tabs class="shadow-1" animated swipeable align="center" v-model="selectedTab">
          <q-tab
            default
            name="login"
            slot="title"
            label="Login"
            class="text-weight-light"
            v-if="!loggedIn"
          />
          <q-tab
            name="project"
            slot="title"
            label="Project Setup"
            class="text-weight-light"
            :disable="!loggedIn"
          />
          <q-tab
            name="stories"
            slot="title"
            label="User Stories"
            class="text-weight-light"
            :disable="!loggedIn || !currentProject || currentProject.length == 0"
          />

          <q-tab-pane name="login">
            <div style="margin-left: 30%; margin-right: 30%;">
              <q-btn
                color="primary"
                style="width: 100%"
                :label="btnLabel"
                @click="appLogin"
                :disabled="loggedIn"
              />
            </div>
          </q-tab-pane>
          <q-tab-pane name="project">
            <ProjectSetup
              :currentUser="currentUser"
              :currentProject="currentProject"
              @updateUser="updateUser"
              @selectedProject="selectedProject"
            ></ProjectSetup>
          </q-tab-pane>
          <q-tab-pane name="stories">
            <UserStories
              :currentUser="currentUser"
              :currentProject="currentProject"
              @selectedProject="selectedProject"
            ></UserStories>
          </q-tab-pane>
        </q-tabs>
      </q-layout-header>
    </q-layout>
  </div>
</template>

<script>
import firebase from "firebase";
import { authProvider, users } from "./plugins/firebase";
import ProjectSetup from "./ProjectSetup.vue";
import UserStories from "./UserStories.vue";

export default {
  name: "App",
  components: {
    ProjectSetup: ProjectSetup,
    UserStories: UserStories
  },
  data() {
    return {
      loggedIn: false,
      projectSelected: false,
      currentUser: null,
      currentProject: null,
      selectedTab: "login",
      btnLabel: "Log In",
      rememberUser: false
    };
  },
  created: function() {},
  methods: {
    selectedProject: async function(obj) {
      this.currentProject = obj;
    },
    updateUser: async function(obj) {
      var doc = await users.doc(this.currentUser.id);
      this.currentUser = await doc.get();
    },
    appLogin: function() {
      //console.log("STARTING...");
      var self = this;
      var userCollection = users;
      firebase
        .auth()
        .signInWithPopup(authProvider)
        .then(result => {
          // The signed-in user info.
          var user = result.user;
          var token = result.credential.accessToken;

          //console.log(token);
          //console.log(user);

          // search for the user in the users collection
          userCollection.get().then(async coll => {
            let found = false;
            coll.docs.forEach(doc => {
              if (doc.data().Email === user.email) {
                found = true;
                self.currentUser = doc;
              }
            });
            // add a new user if the user was not in the users collection
            if (!found) {
              var newUser = new Object();
              newUser.Email = user.email;
              newUser.FullName = user.displayName;
              newUser.Projects = [];
              var myDoc = await userCollection.add(newUser);
              var collection = await userCollection.get();
              collection.docs.forEach(document => {
                if (document.id === myDoc.id) self.currentUser = document;
              });
            }
            self.loggedIn = true;
            self.selectedTab = "project";

            self.$q.notify({
              message: `Welcome ${user.providerData[0].displayName}!`,
              timeout: 3000, // in milliseconds; 0 means no timeout
              color: "positive",
              icon: "tag_faces",
              position: "top-right" // 'top', 'left', 'bottom-left' etc.
            });
          });
        })
        .catch(error => {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
        });
    }
  }
};
</script>

<style></style>
