<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>
    <script src="https://unpkg.com/vue"></script>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.productDescription %>"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>"
    />

    <link
      rel="icon"
      href="https://i.ibb.co/GvS9fcq/logo.jpg"
      type="image/x-icon"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://i.ibb.co/GvS9fcq/logo.jpg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://i.ibb.co/GvS9fcq/logo.jpg"
    />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
