<template>
  <div class="doc-container">
    <q-modal v-model="showModal">
      <div class="row gutter-xs" style="margin: 20px;">
        <h4 class="col-12">Add Member</h4>
        <br>
        <q-list highlight class="col-12">
          <q-item
            style="cursor: pointer;"
            v-for="(user, ind) in nonProjectMembers"
            :key="ind"
            @click.native="addMember(user)"
          >
            <q-item-main :label="user.data().FullName" class="text-weight-light"/>
          </q-item>
        </q-list>
        <br>
        <q-btn
          class="col-12"
          color="primary"
          @click="showModal = false"
          label="Close"
          style="margin-top: 20px;"
        />
      </div>
    </q-modal>
    <div class="row gutter-xs">
      <div class="col-3" style="margin-left: 1%">
        <q-input
          v-model="projectName"
          float-label="Project Name"
          type="textarea"
          :disable="selectedProject !== null && !isAdmin"
        />
        <q-input
          v-model="projectTeamName"
          float-label="Team Name"
          type="textarea"
          :disable="selectedProject !== null && !isAdmin"
        />
        <q-input
          v-model="projectTeamNumber"
          float-label="Team Number"
          type="number"
          :disable="selectedProject !== null && !isAdmin"
        />
        <q-input
          v-model="projectLink"
          float-label="Pivotal Tracker Link"
          type="textarea"
          :disable="selectedProject !== null && !isAdmin"
        />
        <br>
        <div class="row gutter-xs">
          <div class="col-6">
            <br>
            <q-input
              v-model="projectVelocity"
              float-label="Initial Velocity"
              type="number"
              :disable="selectedProject !== null && !isAdmin"
            />
          </div>
          <div class="col-6">
            <br>
            <q-input
              v-model="projectPointHours"
              float-label="Hours in Point"
              type="number"
              :disable="selectedProject !== null && !isAdmin"
            />
          </div>
          <div class="col-6">
            <br>
            <q-input
              v-model="projectSprintLength"
              float-label="Sprint Length (days)"
              type="number"
              :disable="selectedProject !== null && !isAdmin"
            />
          </div>
        </div>
        <div class="row gutter-xs">
          <div class="col-6">
            <br>
            <q-btn
              color="primary"
              style="width: 100%"
              outline
              :label="labelForm"
              @click="onUpdate"
              :disabled="(!projectName || !projectTeamName || !projectTeamNumber || !projectVelocity || !projectPointHours) || (selectedProject !== null && !isAdmin)"
            />
          </div>
          <div class="col-6">
            <br>
            <q-btn
              @click="clearAddForm"
              color="primary"
              style="width: 100%;"
              outline
              label="Clear"
            />
          </div>
          <div class="col-12" v-if="selectedProject !== null">
            <br>
            <q-btn
              color="negative"
              style="width:100%;"
              label="Delete"
              @click="deleteProject"
              :disable="selectedProject !== null && !isAdmin"
            />
          </div>
          <div v-if="projectMembers.length > 0" class="col-12" style="margin-top:5%;">
            <q-toolbar-title class="text-weight-light" align="center">Project Members</q-toolbar-title>
            <br>
            <q-list highlight>
              <q-item
                style="cursor: pointer;"
                v-for="(user, ind) in projectMembers"
                :key="ind"
                :disable="selectedProject !== null && !isAdmin"
              >
                <q-item-main :label="user.data().FullName" class="text-weight-light"/>
                <q-item-side
                  right
                  v-if="selectedProject.data().admins.find(x => x.id === user.ref.id) === undefined"
                >
                  <q-btn
                    color="primary"
                    style="width:100%;"
                    label="Promote"
                    :disable="selectedProject !== null && !isAdmin"
                    @click="addAdmin(user)"
                  />
                </q-item-side>
                <q-item-side v-else right stamp="Admin"></q-item-side>
              </q-item>
            </q-list>
          </div>
          <div class="col-12" v-if="selectedProject !== null">
            <br>
            <q-btn
              color="primary"
              style="width:100%;"
              label="Add Member"
              @click="showModal = true"
              :disable="selectedProject !== null && !isAdmin"
            />
          </div>
        </div>
      </div>
      <div class="col-8" style="margin-left: 4%;">
        <q-toolbar-title class="text-weight-light" align="center">My Projects</q-toolbar-title>
        <br>
        <q-list highlight>
          <q-item
            style="cursor: pointer;"
            v-for="(project, ind) in projectsCollection"
            :key="ind"
            @click.native="populateForm(project)"
          >
            <q-item-main :label="project.data().productName" class="text-weight-light"/>
            <q-item-side right :stamp="project.data().teamName"/>
          </q-item>
        </q-list>
      </div>
    </div>
  </div>
</template>

<script>
import fireApp from "./plugins/firebase";
import { projects, users, db } from "./plugins/firebase";

export default {
  name: "ProjectSetup",
  props: ["currentUser", "currentProject"],
  data() {
    return {
      user: null,
      isAdd: true,
      isAdmin: false,
      labelForm: "Start Project",
      selectedProject: null,
      projectsCollection: [],
      projectMembers: [],
      nonProjectMembers: [],
      showModal: false,
      projectName: "",
      projectTeamName: "",
      projectTeamNumber: 0,
      projectLink: "",
      projectVelocity: 0,
      projectPointHours: 0,
      projectSprintLength: 0
    };
  },
  created: async function() {
    var self = this;
    this.user = self.currentUser;
    var coll = await projects.get();
    coll.docs.forEach(doc => {
      // make sure the project is in the list of projects for the user.
      if (
        self.user.data().Projects.find(x => x.id === doc.ref.id) !== undefined
      )
        this.projectsCollection.push(doc);
    });
    if (self.currentProject !== null && self.currentProject !== undefined)
      this.populateForm(self.currentProject);
  },
  methods: {
    clearAddForm: function() {
      this.selectedProject = null;

      this.$emit("selectedProject", this.selectedProject);
      this.projectMembers = [];
      this.nonProjectMembers = [];

      this.isAdmin = false;

      this.projectName = "";
      this.projectTeamName = "";
      this.projectTeamNumber = 0;
      this.projectLink = "";
      this.projectVelocity = 0;
      this.projectPointHours = 0;
      this.projectSprintLength = 0;

      this.labelForm = "Start Project";
    },
    loadProjectMembers: async function() {
      this.projectMembers = [];
      this.nonProjectMembers = [];
      let id = this.selectedProject.ref.id;
      var coll = await users.get();
      coll.docs.forEach(doc => {
        if (doc.data().Projects.find(x => x.id === id) !== undefined) {
          this.projectMembers.push(doc);
        } else {
          this.nonProjectMembers.push(doc);
        }
      });
    },
    loadProjectList: async function() {
      this.projectsCollection = [];
      var self = this;
      var coll = await projects.get();
      coll.docs.forEach(doc => {
        // make sure the project is in the list of projects for the user.
        if (
          self.user.data().Projects.find(x => x.id === doc.ref.id) !== undefined
        )
          this.projectsCollection.push(doc);
      });
    },
    addMember: async function(userRef) {
      var docRef = await users.doc(userRef.id);
      var update = {};
      update.Projects = userRef.data().Projects;
      update.Projects.push(db.doc(`Projects/${this.selectedProject.id}`));

      docRef.update(update);

      await this.loadProjectMembers();

      this.showModal = false;

      this.$q.notify({
        message: `Team Member Added!`,
        timeout: 3000,
        color: "positive",
        icon: "tag_faces",
        position: "top-right"
      });
    },
    deleteProject: async function() {
      if (confirm("Are you sure you want to delete this project?")) {
        var docRef = await projects.doc(this.selectedProject.ref.id);
        await docRef.delete();
        this.clearAddForm();
        this.$q.notify({
          message: `Project deleted!`,
          timeout: 3000, // in milliseconds; 0 means no timeout
          color: "primary",
          icon: "tag_faces",
          position: "top-right" // 'top', 'left', 'bottom-left' etc.
        });
        this.loadProjectList();
      }
    },
    addAdmin: async function(user) {
      var admins = this.selectedProject.data().admins;
      admins.push(db.doc(`Users/${user.ref.id}`));
      var document = {
        admins
      };
      var docRef = await projects.doc(this.selectedProject.ref.id);
      docRef.update(document);

      this.selectedProject = await docRef.get();

      this.$emit("selectedProject", this.selectedProject);

      this.loadProjectMembers();
      this.loadProjectList();
    },
    populateForm: async function(project) {
      this.selectedProject = this.projectsCollection.find(
        proj => proj.ref.id === project.ref.id
      );

      this.$emit("selectedProject", this.selectedProject);

      this.isAdmin = false;
      this.selectedProject.data().admins.forEach(admin => {
        if (admin.id === this.currentUser.id) this.isAdmin = true;
      });

      await this.loadProjectMembers();

      this.projectName = this.selectedProject.data().productName;
      this.projectTeamName = this.selectedProject.data().teamName;
      this.projectTeamNumber = this.selectedProject.data().teamNumber;
      this.projectLink = this.selectedProject.data().pivotalRef;
      this.projectVelocity = this.selectedProject.data().initialVelocity;
      this.projectPointHours = this.selectedProject.data().hoursInPoint;
      this.projectSprintLength = this.selectedProject.data().sprintLength;

      this.labelForm = "Update Project";
    },
    onUpdate: function() {
      if (this.selectedProject === null) {
        this.addStory();
      } else {
        this.updateStory();
      }
    },
    updateStory: async function() {
      let startDate = new Date();
      let productName = this.projectName;
      let teamName = this.projectTeamName;
      let teamNumber = this.projectTeamNumber;
      let pivotalRef = this.projectLink;
      let initialVelocity = this.projectVelocity;
      let hoursInPoint = this.projectPointHours;
      let sprintLength = this.projectSprintLength;
      let sprintEnd = this.selectedProject.data().sprintEnd;

      var document = {
        startDate,
        productName,
        teamName,
        teamNumber,
        pivotalRef,
        initialVelocity,
        hoursInPoint,
        sprintLength,
        sprintEnd
      };

      var docRef = await projects.doc(this.selectedProject.ref.id);
      docRef.update(document);

      this.selectedProject = await docRef.get();

      this.$emit("selectedProject", this.selectedProject);

      this.loadProjectList();

      this.$q.notify({
        message: `Project successfully updated!`,
        timeout: 3000, // in milliseconds; 0 means no timeout
        color: "positive",
        icon: "tag_faces",
        position: "top-right" // 'top', 'left', 'bottom-left' etc.
      });
    },
    addStory: async function() {
      let startDate = new Date();
      let sprintEnd = new Date(new Date().toDateString());

      let productName = this.projectName;
      let teamName = this.projectTeamName;
      let teamNumber = this.projectTeamNumber;
      let pivotalRef = this.projectLink;
      let initialVelocity = this.projectVelocity;
      let hoursInPoint = this.projectPointHours;
      let sprintLength = this.projectSprintLength;
      let admins = [];

      admins.push(db.doc(`Users/${this.currentUser.ref.id}`));
      sprintEnd.setDate(sprintEnd.getDate() + sprintLength);

      var ref = await projects.add({
        startDate,
        productName,
        teamName,
        teamNumber,
        pivotalRef,
        initialVelocity,
        hoursInPoint,
        sprintLength,
        sprintEnd,
        admins
      });

      var docRef = await users.doc(this.user.id);
      var update = {};
      update.Projects = this.user.data().Projects;
      update.Projects.push(db.doc(`Projects/${ref.id}`));

      docRef.update(update);

      this.user = await docRef.get();

      this.$emit("updateUser", null);

      this.clearAddForm();
      this.projectsCollection = [];

      this.$q.notify({
        message: `Project successfully added!`,
        timeout: 3000, // in milliseconds; 0 means no timeout
        color: "positive",
        icon: "tag_faces",
        position: "top-right" // 'top', 'left', 'bottom-left' etc.
      });

      this.loadProjectList();
    }
  }
};
</script>

<style></style>
