<template>
  <div class="doc-container">
    <div class="row gutter-xs">
      <div class="col-3" style="margin-left: 1%">
        <q-input v-model="storyValue" float-label="User Story" type="textarea"/>
        <div class="row gutter-xs">
          <div class="col-6">
            <br>
            <q-select
              v-model.number="relEstimates"
              :options="estimatesOptions"
              float-label="Relative Estimates"
              type="number"
            />
          </div>
          <div class="col-6">
            <br>
            <q-select
              float-label="Assigned To"
              multiple
              :display-value="`${assignTo.length} user(s) selected`"
              v-model="assignTo"
              :options="selectOptions"
            />
          </div>
        </div>

        <div
          v-if="editingStory && selectedStory.sprintEnd !== null"
          class="text-weight-light col-6"
          style="margin-top: 2vh;"
        >Story Status</div>
        <div class="col-6" v-if="editingStory && selectedStory.sprintEnd !== null">
          <q-btn-toggle
            v-model="storyStatus"
            toggle-color="primary"
            :options="[
                {label: 'Planned', value: 'Planned'},
                {label: 'Started', value: 'Started'},
                {label: 'Delivered', value: 'Delivered'}
              ]"
            style="margin-left: 10%; margin-top: 2%"
          />
        </div>

        <div class="row gutter-xs">
          <div class="col-6">
            <br>
            <q-btn
              color="primary"
              style="width: 100%"
              outline
              :label="labelForm"
              @click="addStory"
              :disabled="!storyValue || !relEstimates || assignTo.length == 0"
            />
          </div>
          <div class="col-6">
            <br>
            <div v-if="!editingStory">
              <q-btn
                @click="clearAddForm"
                color="primary"
                style="width: 100%;"
                outline
                label="Clear"
              />
            </div>
            <div v-else>
              <q-btn @click="deleteStory" color="negative" style="width: 100%;" label="Delete"/>
            </div>
          </div>
          <div class="col-12">
            <q-btn
              v-if="editingStory && selectedStory.sprintEnd === null"
              @click="addToSprint"
              color="primary"
              style="width: 100%;"
              label="Add To Sprint"
            />
          </div>

          <!-- TASK LIST -->
          <div v-if="editingStory" class="col-12" style="margin-top:5%;">
            <q-toolbar-title
              v-if="selectedStory !== undefined"
              class="text-weight-light"
              align="center"
            >Tasks ({{percentageComplete()}})</q-toolbar-title>
            <br>
            <q-list highlight>
              <q-item
                style="cursor: pointer;"
                v-for="(task, ind) in selectedStory.tasks"
                :key="ind"
              >
                <q-item-main :label="task.value" class="text-weight-light"/>
                <q-item-side right v-if="task.completed === false">
                  <q-btn
                    color="primary"
                    style="width:100%;"
                    label="Finish"
                    @click="finishTask(ind)"
                  />
                </q-item-side>
                <q-item-side v-else right stamp="Finished"></q-item-side>
              </q-item>
            </q-list>
          </div>
          <br>
          <div class="col-12" v-if="editingStory">
            <q-input v-model="taskValue" float-label="Task Description" type="textarea"/>
          </div>
          <div class="col-12" v-if="editingStory">
            <q-btn
              @click="addTask"
              color="primary"
              style="width: 100%;"
              label="Add Task"
              :disable="taskValue === ''"
            />
          </div>
        </div>
      </div>
      <q-carousel class="text-white col-8" style="margin-left: 4%;" arrows>
        <!-- SPRINT COLUMN -->
        <q-carousel-slide class="bg-primary">
          <div class="row">
            <q-toolbar-title
              class="text-weight-light"
              align="center"
              style="margin-top: 1vh;"
            >Sprint Story List</q-toolbar-title>
            <q-btn flat round dense icon="add" @click="addNew"/>
          </div>
          <br>
          <q-scroll-area style="width: 100%; height: 15rem;">
            <q-list highlight no-border>
              <q-item
                style="cursor: pointer;"
                v-for="(story, ind) in sprintStoriesCollection"
                :key="'sprintStoriesCollection-' + ind"
                @click.native="populateForm(story.value, true)"
              >
                <q-item-side
                  icon="fas fa-circle-notch"
                  :color="story.status == 'Started' ? 'light-green-13' : 
                  (story.status == 'Delivered' ? 'green' : 'grey')"
                >
                  <q-tooltip>
                    {{story.status == 'Started' ? ('Task in Progress. Actual hours to complete: '
                    + project.data().hoursInPoint*story.rel_estimate) :
                    (story.status == 'Delivered' ? 'Task is Delivered' : 'Task Planned')}}
                  </q-tooltip>
                </q-item-side>
                <q-item-main :label="story.value" class="text-weight-light"/>
                <q-item-side right :stamp="story.assignedTo.join()"/>
              </q-item>
            </q-list>
          </q-scroll-area>
        </q-carousel-slide>

        <!-- TODO COLUMN -->
        <q-carousel-slide class="bg-primary">
          <div class="row">
            <q-toolbar-title
              class="text-weight-light"
              align="center"
              style="margin-top: 1vh;"
            >TODO List</q-toolbar-title>
            <q-btn flat round dense icon="add" @click="addNew"/>
          </div>
          <br>
          <q-scroll-area style="width: 100%; height: 15rem;">
            <q-list highlight no-border>
              <q-item
                style="cursor: pointer;"
                v-for="(story, ind) in storiesCollection"
                :key="'storiesCollection-' + ind"
                @click.native="populateForm(story.value, false)"
              >
                <q-item-side
                  icon="fas fa-circle-notch"
                  :color="story.status == 'Started' ? 'light-green-13' : 
                (story.status == 'Delivered' ? 'green' : 'grey')"
                >
                  <q-tooltip>
                    {{story.status == 'Started' ? ('Task in Progress. Actual hours to complete: '
                    + project.data().hoursInPoint*story.rel_estimate) :
                    (story.status == 'Delivered' ? 'Task is Delivered' : 'Task Planned')}}
                  </q-tooltip>
                </q-item-side>
                <q-item-main :label="story.value" class="text-weight-light"/>
                <q-item-side right :stamp="story.assignedTo.join()"/>
              </q-item>
            </q-list>
          </q-scroll-area>
        </q-carousel-slide>

        <!-- HISTORY COLUMN -->
        <q-carousel-slide class="bg-primary">
          <div class="row">
            <q-toolbar-title
              class="text-weight-light"
              align="center"
              style="margin-top: 1vh;"
            >History List</q-toolbar-title>
          </div>
          <br>
          <q-scroll-area style="width: 100%; height: 15rem;">
            <q-list no-border>
              <q-item v-for="(story, ind) in deletedCollection" :key="'deletedCollection-' + ind">
                <q-item-side
                  :icon="story.status == 'Delivered' ? 'fas fa-check' : 'fas fa-trash'"
                  :color="story.status == 'Started' ? 'grey' : 
                (story.status == 'Delivered' ? 'green' : 'grey')"
                >
                  <q-tooltip>
                    {{story.status == 'Started' ? ('Task was Deleted') :
                    (story.status == 'Delivered' ? 'Task was Delivered' : 'Task was Deleted')}}
                  </q-tooltip>
                </q-item-side>
                <q-item-main :label="story.value" class="text-weight-light"/>
                <q-item-side right :stamp="story.assignedTo.join()"/>
              </q-item>
            </q-list>
          </q-scroll-area>
        </q-carousel-slide>

        <!-- RE-ESTIMATES COLUMN -->
        <q-carousel-slide class="bg-primary">
          <div class="row">
            <q-toolbar-title
              class="text-weight-light"
              align="center"
              style="margin-top: 1vh;"
            >Re-estimates History</q-toolbar-title>
          </div>
          <br>
          <q-scroll-area style="width: 100%; height: 15rem;">
            <q-list
              v-for="(story, ind) in deletedCollection"
              v-if="story.re_estimate"
              :key="'re_estimateDeleted-' + ind"
              no-border
            >
              <q-item>
                <q-item-main :label="story.value" class="text-weight-light"/>
                <q-item-side
                  right
                  :stamp="'Re-estimated from ' + story.rel_estimate + ' points to ' + story.re_estimate + ' points.'"
                />
              </q-item>
            </q-list>

            <q-list
              v-for="(story, ind) in storiesCollection"
              v-if="story.re_estimate"
              :key="'re_estimate-' + ind"
              no-border
            >
              <q-item>
                <q-item-main :label="story.value" class="text-weight-light"/>
                <q-item-side
                  right
                  :stamp="'Re-estimated from ' + story.rel_estimate + ' points to ' + story.re_estimate + ' points.'"
                />
              </q-item>
            </q-list>

            <q-list
              v-for="(story, ind) in sprintStoriesCollection"
              v-if="story.re_estimate"
              :key="'sprintStoriesCollectionReestimated-' + ind"
              no-border
            >
              <q-item>
                <q-item-main :label="story.value" class="text-weight-light"/>
                <q-item-side
                  right
                  :stamp="'Re-estimated from ' + story.rel_estimate + ' points to ' + story.re_estimate + ' points.'"
                />
              </q-item>
            </q-list>
          </q-scroll-area>
        </q-carousel-slide>

        <q-carousel-slide class="bg-primary" v-if="isAdmin">
          <div class="row">
            <q-toolbar-title
              class="text-weight-light"
              align="center"
              style="margin-top: 1vh;"
            >Sprint Summary</q-toolbar-title>
          </div>
          <br>
          <q-scroll-area style="width: 100%; height: 15rem;">
            <q-list no-border v-for="(story, ind) in groupsCollection" :key="'adminColl-' + ind">
              <q-item-main inset class="text-weight-light">
                <q-item-tile label>Sprint {{ind+1}} -</q-item-tile>
                <q-item-tile sublabel>{{story[0]}}</q-item-tile>
              </q-item-main>
              <br>
              <q-list no-border v-for="(st, id) in story[1]" :key="'adminStories-' + id">
                <q-collapsible :label="st.value">
                  <div class="text-weight-light" style="font-size: small">
                    Story Initial Estimate: {{st.rel_estimate}}
                    <br>
                    Story Last Re-estimate: {{st.re_estimate}}
                    <br>
                    Time Spent: {{st.hours_spent}}
                  </div>
                </q-collapsible>
              </q-list>
            </q-list>
          </q-scroll-area>
        </q-carousel-slide>
      </q-carousel>

      <q-modal v-model="sprintAutoSubmitWindow">
        <div style="padding: 20px">
          <q-toolbar-title align="center" style="margin-top: 1vh;">Sprint Review</q-toolbar-title>
          <q-toolbar-title shrink class="text-weight-light" style="margin-top: 25px;">Unfinished</q-toolbar-title>
          <q-list
            style="margin: 10px;"
            v-for="(story, ind) in sprintStoriesCollection"
            :key="'sprintStory-' + ind"
          >
            <q-collapsible :label="story.value">
              <div class="text-weight-light">
                Status: {{story.status == 'Started' ?
                ('Task was not Finished. Reestimation Required') :
                ('Task was never started. Moved to Next Sprint')}}
                <br>
                <br>
                Last Sprint Estimate: {{story.rel_estimate}}
                <br>
                <br>
                Assigned To: {{story.assignedTo.join()}}
                <br>
                <br>
                Created: {{Date(story.created)}}
              </div>
            </q-collapsible>
          </q-list>
          <q-toolbar-title shrink class="text-weight-light" style="margin-top: 25px;">Finished</q-toolbar-title>
          <br>
          <q-list
            style="margin: 10px;"
            v-for="(story, ind) in deletedCollection"
            v-if="story.sprintEnd && story.sprintEnd.seconds === project.data().sprintEnd.seconds"
            :key="ind"
          >
            <q-collapsible :label="story.value">
              <div class="text-weight-light">
                Status: {{story.status == 'Delivered' ? ('Task was Successfully Finished') : ('Task was Deleted')}}
                <br>
                <br>
                Assigned To: {{story.assignedTo.join()}}
                <br>
                <br>
                Created: {{Date(story.created)}}
                <br>
                <br>
                Relative Estimate: {{story.rel_estimate}}
              </div>
            </q-collapsible>
          </q-list>
          <q-btn color="primary" style="width: 100%" @click="submitWindow" label="Confirm"/>
        </div>
      </q-modal>
    </div>
  </div>
</template>

<script>
import fireApp from "./plugins/firebase";
import { db, fireBase } from "./plugins/firebase";
import { stories, projects, users } from "./plugins/firebase";
import { firestore } from "firebase";
import { storyRef } from "./plugins/firebase";

export default {
  name: "ProjectSetup",
  props: ["currentProject", "currentUser"],
  data() {
    return {
      isAdmin: false,
      user: null,
      selectOptions: [],
      projectMembers: null,
      project: null,
      sprintAutoSubmitWindow: false,
      storyStatus: "",
      isAdd: true,
      editingStory: false,
      labelForm: "Add Story",
      taskValue: "",
      selectedStory: [],
      sprintStoriesCollection: [],
      completedCollection: [],
      groupsCollection: [],
      storiesCollection: [],
      deletedCollection: [],
      storyValue: "",
      relEstimates: 0,
      reestimates: 0,
      assignTo: [],
      estimatesOptions: [
        {
          label: "0 points",
          value: 0
        },
        {
          label: "1 point",
          value: 1
        },
        {
          label: "2 points",
          value: 2
        },
        {
          label: "3 points",
          value: 3
        },
        {
          label: "5 points",
          value: 5
        },
        {
          label: "8 points",
          value: 8
        }
      ]
    };
  },
  created: async function() {
    this.project = this.currentProject;
    this.user = this.currentUser;

    if (this.isNewSprint()) {
      // delete completed stories
      await stories.get().then(coll => {
        this.autoSubmitWindow();
        coll.docs.forEach(doc => {
          if (doc.data().status == "Delivered")
            stories.doc(doc.ref.id).update({ deleted: true });
        });
      });
    }

    this.updateList();
    this.loadMembers();
  },
  methods: {
    loadMembers: async function() {
      this.projectMembers = [];
      let id = this.project.id;
      var coll = await users.get();
      coll.docs.forEach(doc => {
        if (doc.data().Projects.find(x => x.id === id) !== undefined)
          this.projectMembers.push(doc);
      });

      this.projectMembers.forEach(element => {
        let option = {
          label: element.data().FullName,
          value: element.data().FullName
        };

        this.selectOptions.push(option);
      });

      this.project.data().admins.forEach(element => {
        if (element.id === this.user.id) this.isAdmin = true;
      });
    },
    // For updating the current project sprintEnd date (Not yet used, needs to be used when sprint has ended)
    updateProjectSprintDate: async function() {
      let sprintEnd = this.currentProject.data().sprintEnd;
      sprintEnd.setDate(
        sprintEnd.getDate() + this.currentProject.data().sprintLength
      );

      var document = {
        sprintEnd
      };

      var docRef = await projects.doc(this.currentProject.ref.id);
      docRef.update(document);

      this.currentProject = await projects.get();

      this.$emit("selectedProject", this.currentProject);
    },
    addTask: async function() {
      if (this.selectedStory.tasks === undefined) {
        this.selectedStory.tasks = [];
      }
      this.selectedStory.tasks.push({
        value: this.taskValue,
        completed: false
      });
      let tasks = this.selectedStory.tasks;
      this.taskValue = "";
      var document = {
        tasks
      };
      let selected = await stories.doc(this.selectedStory.id);
      selected.update(document);
      this.updateList();
    },
    finishTask: async function(ind) {
      if (this.selectedStory.tasks === undefined) this.selectedStory.tasks = [];
      this.selectedStory.tasks[ind].completed = true;
      let tasks = this.selectedStory.tasks;
      var document = {
        tasks
      };
      let selected = await stories.doc(this.selectedStory.id);
      selected.update(document);
      this.updateList();
    },
    percentageComplete: function() {
      //debugger;
      if (this.selectedStory.tasks === undefined) this.selectStory.tasks = [];
      if (this.selectedStory.tasks.length === 0) {
        return "(no tasks)";
      } else {
        var completedTasks = 0;
        this.selectedStory.tasks.forEach(t => {
          if (t.completed === true) completedTasks++;
        });
        var percentage =
          ((completedTasks * 1.0) / this.selectedStory.tasks.length) * 100.0;
        return `${percentage.toFixed(0)}%`;
      }
    },
    submitWindow: async function() {
      await this.sprintStoriesCollection.forEach(element => {
        let selected = stories.doc(element.id);
        selected.update({
          sprintEnd: this.project.data().sprintEnd
        });

        if (element.status == "Started") {
          if (element.assignedTo.join().includes(this.user.data().FullName)) {
            this.$q
              .dialog({
                title: "Story Reestimate",
                message:
                  element.value +
                  " previous estimate was " +
                  element.rel_estimate +
                  ". Set New Estimate:",
                color: "primary",
                ok: true,
                heigth: 300,
                preventClose: true,
                noBackdropDismiss: false, // gets set to "true" automatically if preventClose is "true"
                noEscDismiss: false, // gets set to "true" automatically if preventClose is "true"
                stackButtons: true,
                options: {
                  model: this.reestimates,
                  items: this.estimatesOptions
                }
              })
              .then(data => {
                selected.update({
                  rel_estimate: data,
                  re_estimate: element.rel_estimate
                });

                this.$q
                  .dialog({
                    title: "Story Hours Worked",
                    message:
                      "Please, indicate the number of hours you have spent on story (during this sprint) - " +
                      element.value,
                    color: "primary",
                    ok: true,
                    preventClose: true,
                    noBackdropDismiss: false, // gets set to "true" automatically if preventClose is "true"
                    noEscDismiss: false, // gets set to "true" automatically if preventClose is "true"
                    stackButtons: true,
                    prompt: {
                      model: "",
                      type: "number" // optional
                    }
                  })
                  .then(data => {
                    selected.update({
                      hours_spent: element.hours_spent
                        ? element.hours_spent + data
                        : data
                    });
                  });

                this.$q.notify({
                  message: `User Story successfully updated!`,
                  timeout: 3000, // in milliseconds; 0 means no timeout
                  color: "positive",
                  icon: "tag_faces",
                  position: "top-right" // 'top', 'left', 'bottom-left' etc.
                });

                this.updateList();
              });
          }
        }
      });

      this.sprintAutoSubmitWindow = false;
    },
    getSprintLastDay: function() {
      // Project now has sprintEnd date
      return this.project.data().sprintEnd;
    },
    isNewSprint: function() {
      let lastDaySeconds = this.getSprintLastDay();
      let dayNow = new Date().getTime();

      if (dayNow > lastDaySeconds.seconds * 1000) {
        let sprintUpd = this.project.data().sprintLength * 24 * 60 * 60;
        let newlastDay = new Date(1970, 0, 1);
        newlastDay.setSeconds(lastDaySeconds.seconds + sprintUpd);

        let selected = projects.doc(this.project.id);
        selected.update({
          sprintEnd: newlastDay
        });

        return true;
      } else return false;
    },
    autoSubmitWindow: function() {
      this.sprintAutoSubmitWindow = true;
    },
    clearAddForm: function() {
      this.storyValue = "";
      this.relEstimates = 0;
      this.assignTo = [];
      this.storyStatus = "";

      this.labelForm = "Add Story";
    },
    populateForm: function(story, isSprint) {
      this.editingStory = true;

      if (!isSprint) {
        this.selectedStory = this.storiesCollection.find(
          st => st.value === story
        );
      } else {
        this.selectedStory = this.sprintStoriesCollection.find(
          st => st.value === story
        );
      }

      this.storyValue = this.selectedStory.value;
      this.relEstimates = this.selectedStory.rel_estimate;
      this.assignTo = this.selectedStory.assignedTo;
      this.storyStatus = this.selectedStory.status;

      this.labelForm = "Update Story";
    },
    addToSprint: function() {
      let selected = stories.doc(this.selectedStory.id);
      selected.update({
        sprintEnd: this.project.data().sprintEnd
      });

      this.$q.notify({
        message: `User Story added to current sprint!`,
        timeout: 3000, // in milliseconds; 0 means no timeout
        color: "positive",
        icon: "tag_faces",
        position: "top-right" // 'top', 'left', 'bottom-left' etc.
      });

      this.updateList();
      this.addNew();
    },
    addStory: function() {
      if (this.editingStory) {
        let selected = stories.doc(this.selectedStory.id);

        if (this.storyStatus === "Delivered") {
          this.$q
            .dialog({
              title: "Story Hours Worked",
              message:
                "Please, indicate the number of hours you have spent on this story (during this sprint)",
              color: "primary",
              ok: true,
              preventClose: true,
              noBackdropDismiss: false, // gets set to "true" automatically if preventClose is "true"
              noEscDismiss: false, // gets set to "true" automatically if preventClose is "true"
              stackButtons: true,
              prompt: {
                model: "",
                type: "number" // optional
              }
            })
            .then(data => {
              selected.update({
                assignedTo: this.assignTo.join(),
                completed: this.storyStatus === "Delivered" ? true : false,
                status: this.storyStatus,
                rel_estimate: this.relEstimates,
                value: this.storyValue,
                hours_spent: data
              });

              this.$q.notify({
                message: `User Story successfully updated!`,
                timeout: 3000, // in milliseconds; 0 means no timeout
                color: "positive",
                icon: "tag_faces",
                position: "top-right" // 'top', 'left', 'bottom-left' etc.
              });
              this.updateList();
            });
        } else {
          selected.update({
            assignedTo: this.assignTo.join(),
            completed: this.storyStatus === "Delivered" ? true : false,
            status: this.storyStatus,
            rel_estimate: this.relEstimates,
            value: this.storyValue
          });

          this.$q.notify({
            message: `User Story successfully updated!`,
            timeout: 3000, // in milliseconds; 0 means no timeout
            color: "positive",
            icon: "tag_faces",
            position: "top-right" // 'top', 'left', 'bottom-left' etc.
          });
          this.updateList();
        }
      } else {
        let created = new Date();
        let completed = false;
        let deleted = false;
        let projectID = db.doc(`Projects/${this.project.id}`);
        let assignedTo = this.assignTo.join();
        let rel_estimate = this.relEstimates;
        let value = this.storyValue;
        let status = "Planned";
        let sprintEnd = null; //this.project.data().sprintEnd;
        let tasks = [];

        stories.add({
          assignedTo,
          completed,
          created,
          deleted,
          status,
          projectID,
          rel_estimate,
          value,
          sprintEnd,
          tasks
        });

        this.storyValue = "";
        this.relEstimates = 0;
        this.assignTo = [];
        this.storyStatus = "";

        this.$q.notify({
          message: `User Story successfully added!`,
          timeout: 3000, // in milliseconds; 0 means no timeout
          color: "positive",
          icon: "tag_faces",
          position: "top-right" // 'top', 'left', 'bottom-left' etc.
        });

        this.updateList();
      }
    },
    // bring up an empty form for new user story info
    addNew: function() {
      this.clearAddForm();
      this.editingStory = false;
    },
    groupCollection: function() {
      let map = this.completedCollection.map(x => x.sprintEnd.seconds);
      let headings = map.filter(function(item, index) {
        return map.indexOf(item) >= index;
      });

      let groups = {};
      headings.forEach(element => {
        groups[element] = [];
      });

      this.completedCollection.forEach(element => {
        let el = element.sprintEnd.seconds;
        groups[el].push(element);
      });

      this.groupsCollection = [];
      this.groupsCollection = Object.entries(groups);

      this.groupsCollection.forEach(element => {
        let day = new Date(1970, 0, 1);
        day.setSeconds(element[0]);
        element[0] = day.toString().substring(0, 10);
      });
    },
    updateList: function() {
      this.completedCollection = [];
      this.sprintStoriesCollection = [];
      this.storiesCollection = [];
      this.deletedCollection = [];
      stories.get().then(coll => {
        coll.docs.forEach(doc => {
          let storyObj = {
            id: doc.ref.id,
            assignedTo: doc.data().assignedTo.split(","),
            completed: doc.data().completed,
            created: doc.data().created,
            deleted: doc.data().deleted,
            hours_spent: doc.data().hours_spent,
            projectID: doc.data().projectID,
            re_estimate: doc.data().re_estimate,
            rel_estimate: doc.data().rel_estimate,
            value: doc.data().value,
            status: doc.data().status,
            sprintEnd: doc.data().sprintEnd,
            tasks: doc.data().tasks
          };

          if (
            doc.data().completed == true &&
            doc.data().projectID.id === this.project.id
          ) {
            this.completedCollection.push(storyObj);
            this.completedCollection.sort(function(a, b) {
              let secA = a.sprintEnd.seconds;
              let secB = b.sprintEnd.seconds;
              if (secA < secB) return -1;
              if (secA > secB) return 1;
              return 0;
            });
          }

          this.groupCollection();

          // use customized obj which has id of the single story record
          if (
            doc.data().deleted !== true &&
            doc.data().projectID.id === this.project.id
          ) {
            if (storyObj.sprintEnd === null || storyObj.sprintEnd === undefined)
              this.storiesCollection.push(storyObj);
            else if (storyObj.sprintEnd.toDate() > new Date())
              this.sprintStoriesCollection.push(storyObj);
          } else if (doc.data().deleted == true &&
            doc.data().projectID.id === this.project.id)
            this.deletedCollection.push(storyObj);
        });
      });
    },
    deleteStory: function() {
      let selected = stories.doc(this.selectedStory.id);
      selected.update({
        deleted: true
      });

      this.storyValue = "";
      this.relEstimates = 0;
      this.assignTo = [];
      this.storyStatus = "";

      this.$q.notify({
        message: `User Story successfully deleted!`,
        timeout: 3000, // in milliseconds; 0 means no timeout
        color: "positive",
        icon: "tag_faces",
        position: "top-right" // 'top', 'left', 'bottom-left' etc.
      });

      this.editingStory = false;

      this.updateList();
    }
  }
};
</script>

<style></style>
